[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]
yapf = "*"
autopep8 = "*"

[packages]
requests = "*"
lxml = "*"

[requires]
python_version = "3.7"

[scripts]
dangdang = "python spider/spider-dangdang.py"
jd = "python spider/spider-jd.py"
yhd = "python spider/spider-yhd.py"
